# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/

# Node
node_modules/

# Data
api/data/*.db
*.db-journal
*.db-wal

# Docker
docker/data/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
